li {
  width: 70%;
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(234, 234, 234);
}

p {
  margin-top: 1rem;
}

.grid-list-item {
  margin: 15px 15px;
  padding: 10px 5px;
  background-color: #efefef;
  border-radius: 10px;
  width: 30%;
  box-shadow: 3px 3px 5px 2px rgb(255, 105, 105, 0.6);
}

.grid-list-item:hover {
  background-color: #ff2525;
}
